.logo {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

ion-button {
  margin-top: 20px;
}

ion-item {
  margin-bottom: 10px;
  --border-width: 1px;
  --border-color: #AEAEAE;
  --border-radius: 8px;

  &.ion-focused {
    --border-color: #AEAEAE;
  }

  &.ion-invalid {
    --border-color: #AEAEAE;
  }
}

.login {
  text-align: center;
  margin-top: 20px;
}

.login a {
  color: var(--ion-color-primary);
  text-decoration: none;
}

.error-message {
  color: red;
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
  font-weight: 500;
}