<ion-content class="lb-content">
  <app-leaderboard-shell
    [title]="'Regional Leaderboard'"
    [graphLabel]="graphRegionTitle()"
    [loading]="loading"
    [errorMsg]="errorMsg"
    [metric]="metric"
    [scope]="scope"
    [showScopeSelect]="true"
    [chartMode]="chartMode"
    [availableChartModes]="availableChartModes"
    [entries]="entries"
    [trendSeries]="trendSeries"
    [distributionCurvePath]="distributionCurvePath"
    [distributionPoints]="distributionPoints"
    [medianMarkerXPercent]="distributionMedianXPercent"
    [medianMarkerLabel]="distributionMedianLabel"
    [selectedPointBin]="selectedPointBin"
    [highlightedUserIds]="selectedPointUserIds"
    (back)="goBack()"
    (metricChange)="onMetricChanged($event)"
    (scopeChange)="onScopeChanged($event)"
    (chartModeChange)="onChartModeChanged($event)"
    (distributionPointClick)="onDistributionPointClick($event)"
    (memberClick)="onMemberClick($event)"
  ></app-leaderboard-shell>
</ion-content>
