  <ion-header>
    <ion-toolbar  class="title-container">
        <!-- Always keep a button space on the left, even if no back button -->
        <div class="button-space" *ngIf="!showBack"></div>
        <ion-button (click)="goBack()" *ngIf="showBack" fill="clear" class="header-button left-button">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
        
        <ion-title><h2>{{title}}</h2></ion-title>
        
        <!-- Profile Avatar Button -->
        <div class="button-space" *ngIf="showBack"></div>
        <ion-button (click)="goToProfile()" *ngIf="!showBack" class="profile-button" fill="clear">
          <ion-avatar class="profile-avatar">
            <img
              *ngIf="profilepicUrl; else showFallback"
              [src]="profilepicUrl"
              alt="Profile pic"
            />
            <ng-template #showFallback>
              <div class="avatar-fallback">{{ avatarInitial }}</div>
            </ng-template>
          </ion-avatar>
        </ion-button>
    </ion-toolbar>
  </ion-header>
