<app-header [transparent]="true"></app-header>
<ion-content [fullscreen]="true">
  <div class="background-gradient"></div>
  <ion-list *ngIf="(chats$ | async)?.length !== 0; else noChats">

    <ion-item *ngFor="let chat of chats$ | async" (click)="loadChat(chat.chatId, chat.participants)" class="chat-item">
      <div class="avatar-container" slot="start">
        <ion-avatar>
          <img [src]="chat.userProfile?.()?.profileImage || bearProfile" alt="Profile">
        </ion-avatar>
        <div class="unread-indicator" *ngIf="chat.hasUnreadMessages"></div>
      </div>
      <ion-label>
        <h2>{{ chat.userProfile?.()?.firstName }} {{ chat.userProfile?.()?.lastName }}</h2>
        <p>{{ chat.lastMessage }}</p>
      </ion-label>
      <ion-note slot="end">
        {{ chat.lastMessageTime | messageDateTime }}
      </ion-note>
    </ion-item>
  </ion-list>

  <ng-template #noChats>
    <div style="display: flex; justify-content: center; align-items: center; height: 100%">
      <h2 style="text-align: center">Find a trainer to start messaging</h2> 
    </div> 
  </ng-template>
</ion-content>