<div id="pdf-content" class="agreement-container">
  <div class="terms">
    <h3>Term Overview</h3>
    <p (click)="toggleExpand()" class="expandable-text">
      {{ dsiclamermsg | truncate:isExpanded ? 999999 : 150 }}
      <ion-icon *ngIf="!isExpanded" name="chevron-down-outline"></ion-icon>
      <ion-icon *ngIf="isExpanded" name="chevron-up-outline"></ion-icon>
    </p>
  </div>

  <div class="services-header flex-container">
    <h2>Services</h2>
    <ion-button class="circle-button removePDF" (click)="addService()" color="primary" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </div>

  <div class="services" *ngFor="let service of services; let i = index">
    <div class="services-container">
      <div class="selected-services">
        <div class="flex-container">
          <h3>Service {{i+1}}</h3>
          <ion-button *ngIf="i > 0" slot="end" (click)="removeService(i)" class="circle-button removePDF" color="danger" size="small">
            <ion-icon slot="icon-only" name="remove"></ion-icon>
          </ion-button>
        </div>

        <ion-input placeholder="Enter service" [(ngModel)]="service.name" autocorrect="on"></ion-input>
        <p class="removePDF">(e.g., Introductory session, Training session, Online support, Nutrition Coaching)</p>
        <ul class="bullet-list">
          <li *ngFor="let option of service.selectedServiceOptions">
            <div class="flex-container">
              {{ option.text }}
              <ion-button class="circle-button removePDF" (click)="moveItem(service.selectedServiceOptions, service.unselectedServiceOptions, option)" color="danger" size="small">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
            </div>
            <ion-input style="color: black;" [placeholder]="option.placeholder" [(ngModel)]="option.value" autocorrect="on" [type]="option.isNumeric ? 'number' : 'text'" [inputmode]="option.isNumeric ? 'numeric' : 'text'" [pattern]="option.isNumeric ? '[0-9]*' : '.*'"></ion-input>
          </li>
        </ul>
      </div>

      <div class="removePDF unselected-options">
        <h4>Available Options</h4>
        <ul class="bullet-list">
          <li *ngFor="let option of service.unselectedServiceOptions">
            <div class="flex-container">
              {{ option.text }}
              <ion-button class="circle-button" (click)="moveItem(service.unselectedServiceOptions, service.selectedServiceOptions, option)" color="primary" size="small">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="policies">
    <h2>Policies</h2>
    <p>The following policies must be initated by contacting Atlas's support team within 24 hours of the scheduled session:</p>
    <h2>Trainer cancellation policy:</h2>
    <p>If the Trainer is unable to perform the session, the client can request the have the full session refunded or have the session made up at the earliest convenience of both parties within two weeks of the scheduled session date. If the make-up session does not occur within this timeframe, a full refund will be issued.</p>
    <h2>Trainer late policy:</h2>
    <p>If the Trainer is more than 15 minutes late to the training session, the client can request that the session will be made up at the earliest convenience of both parties within two weeks of the scheduled session date. If the make-up session does not occur within this timeframe, a full refund will be issued.</p>
    <h2 class="removePDF">Additional Optional Policies</h2> 
  </div>

  <div *ngFor="let policy of selectedPolicies; let i = index">
    <div class="flex-container">
      <h3>{{policy.title}}</h3>
      <ion-button slot="end" (click)="moveItem(selectedPolicies,policies,policy)" class="circle-button removePDF" color="danger" size="small">
        <ion-icon slot="icon-only" name="remove"></ion-icon>
      </ion-button>
    </div>
    <p>{{ policy.description }}</p>
    <div class="selectedOptions">
      <ul>
        <li *ngFor="let option of policy.selectedOptions; let y = index">
          <div class="flex-container">
            {{ option.optionDescription }}
            <ion-button slot="end" (click)="moveItem(policy.selectedOptions, policy.options, option)" class="circle-button removePDF" color="danger" size="small">
              <ion-icon slot="icon-only" name="remove"></ion-icon>
            </ion-button>
          </div>
          <ion-input *ngIf="option.value != 'none'" style="color: black;" placeholder="Enter value" [(ngModel)]="option.value" autocorrect="on"></ion-input>
        </li>
      </ul>
    </div>

    <div class="removePDF" *ngIf="policy.options.length > 0">
      <h4>Options:</h4>
      <ul>
        <li *ngFor="let option of policy.options;let y = index">
          <div class="flex-container">
            <p>{{ option.optionDescription }}</p>
            <ion-button slot="end" (click)="moveItem(policy.options, policy.selectedOptions, option)" class="circle-button" color="primary" size="small">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="removePDF unselected-options">
    <h4>Available Policies</h4>
    <ul class="bullet-list">
      <li *ngFor="let policy of policies">
        <div class="flex-container">
          <h4>{{policy.title}}</h4>
          <ion-button class="circle-button" (click)="moveItem(policies, selectedPolicies,policy)" color="primary" size="small">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </div>
        <p>{{ policy.description }}</p>
      </li>
    </ul>
  </div>

  <!-- Recurring Payment Option -->
  <div class="recurring-payment-section">
    <h3>Payment Terms</h3>
    <div class="recurring-checkbox-container removePDF">
      <ion-checkbox [(ngModel)]="recurring" class="recurring-checkbox"></ion-checkbox>
      <ion-label class="recurring-label">Make this a monthly recurring payment</ion-label>
    </div>
    <p class="recurring-description removePDF">Check this box if you want to set up automatic recurring payments for ongoing services.</p>
    <p *ngIf="recurring" class="recurring-charge-text">* This is a monthly recurring charge</p>
  </div>

  <p>By typing your name below, you acknowledge that you have read, understood, and agree to the terms and conditions outlined in this agreement.</p>
</div>


<div class="button-container">
  <!-- Show Save Template button in template mode -->
  <ion-button *ngIf="mode === 'template'" expand="block" (click)="saveToFirestore()">
    Save Template
  </ion-button>

  <!-- Show Send To Client button in client mode -->
  <ion-button *ngIf="mode === 'client' && clientId" expand="block" (click)="sendAgreement()">
    Send Agreement to Client
  </ion-button>

  <!-- Show both buttons if needed (optional) -->
  <div *ngIf="mode === 'template'" class="additional-actions bottom-buffer" > 
    <ion-button expand="block" fill="outline" (click)="downloadPDF()">
      Download PDF
    </ion-button>
  </div>
</div>
