<ion-content class="ion-padding ion-safe-area">
  <div class="logo">
    <img src="assets/loginsignin.png" alt="Atlas Logo" width="280" />
  </div>

  <h1>Complete Your Profile</h1>
  <p class="subtitle" *ngIf="!isTrainerNameOnly">Add your details before entering the app.</p>
  <p class="subtitle" *ngIf="isTrainerNameOnly">Please add your first and last name to continue.</p>

  <form (ngSubmit)="onSubmit()">
    <ion-item lines="none">
      <ion-input
        label="First Name"
        label-placement="floating"
        [(ngModel)]="firstName"
        name="firstName"
        placeholder="FIRST NAME"
        required
      ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input
        label="Last Name"
        label-placement="floating"
        [(ngModel)]="lastName"
        name="lastName"
        placeholder="LAST NAME"
        required
      ></ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="!isTrainerNameOnly">
      <ion-input
        label="Username"
        label-placement="floating"
        [(ngModel)]="username"
        name="username"
        placeholder="USERNAME"
        required
      ></ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="!isTrainerNameOnly">
      <ion-input
        label="Age"
        label-placement="floating"
        type="number"
        inputmode="numeric"
        [(ngModel)]="age"
        name="age"
        placeholder="AGE"
        required
      ></ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="!isTrainerNameOnly">
      <ion-input
        label="Height (m)"
        label-placement="floating"
        type="number"
        inputmode="decimal"
        [(ngModel)]="heightMeters"
        name="heightMeters"
        placeholder="e.g. 1.78"
        required
      ></ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="!isTrainerNameOnly">
      <ion-input
        label="Weight (kg)"
        label-placement="floating"
        type="number"
        inputmode="decimal"
        [(ngModel)]="weightKg"
        name="weightKg"
        placeholder="e.g. 72"
        required
      ></ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="!isTrainerNameOnly">
      <ion-select
        label="Sex"
        label-placement="floating"
        [(ngModel)]="sex"
        name="sex"
        placeholder="Select sex"
        interface="popover"
        required
      >
        <ion-select-option [value]="1">Male</ion-select-option>
        <ion-select-option [value]="2">Female</ion-select-option>
        <ion-select-option [value]="1.5">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-text color="danger" *ngIf="errorMessage">
      <p class="error">{{ errorMessage }}</p>
    </ion-text>

    <ion-button expand="block" type="submit" [disabled]="isSubmitting">
      {{ isSubmitting ? 'Saving...' : 'Continue' }}
    </ion-button>
  </form>
</ion-content>
