<app-header
  [title]="'Analyzed Workout'"
  [showBack]="true"
  [backHref]="'/analyzed-videos'"
  [neoBlend]="true"
></app-header>

<ion-content [fullscreen]="true" class="client-analyzed-video-content">
  <div class="background-gradient"></div>

  <div class="client-analyzed-video-page">
    <ng-container *ngIf="!isLoading; else loadingState">
      <app-video-analysis-viewer
        *ngIf="analysis; else emptyState"
        [analysis]="analysis"
        [clientId]="clientId"
        [trainerId]="trainerId"
        [readonly]="true"
        [showTools]="false"
      ></app-video-analysis-viewer>

      <ng-template #emptyState>
        <div class="message-card">
          <p>{{ errorMessage || 'Unable to load this analyzed workout.' }}</p>
        </div>
      </ng-template>
    </ng-container>

    <ng-template #loadingState>
      <div class="loading-state">
        <ion-spinner name="crescent"></ion-spinner>
        <p>Loading analyzed workout...</p>
      </div>
    </ng-template>
  </div>
</ion-content>
