<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="background-gradient"></div>
  <!-- Section for new incoming clients -->
  <!-- <swiper-container #swiper (ready)="swiperReady()">
    <swiper-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="auto" *ngFor="let client of incomingClients">
            <div class="client-container">
              <div class="icon-container">
                <ion-avatar>
                  <img [src]="client.avatar || bearProfile" 
                       alt="{{client.name}}">
                </ion-avatar>
                <div class="message-dot" *ngIf="client.hasMessage"></div>
              </div>
              <ion-label>{{client.name || 'Unknown'}}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
  </swiper-container> -->

  <!-- <ion-button (click)="create()">create chat</ion-button> -->

  <!-- Section for list of chats -->
  <ion-list>
    <ng-container *ngIf="(chats$ | async) as chatsList; else noChats">
      <ion-item *ngFor="let chat of chatsList" (click)="loadChat(chat.chatId, chat.participants)" class="chat-item">
        <div class="avatar-container" slot="start">
          <ion-avatar>
            <img [src]="chat.userProfile?.()?.profileImage || bearProfile" alt="Profile">
          </ion-avatar>
          <div class="unread-indicator" *ngIf="chat.hasUnreadMessages"></div>
        </div>
        <ion-label>
          <h2>{{ chat.userProfile?.()?.firstName }} {{ chat.userProfile?.()?.lastName }}</h2>
          <p>{{ chat.lastMessage }}</p>
        </ion-label>
        <ion-note slot="end">
          {{ chat.lastMessageTime | messageDateTime }}
        </ion-note>
      </ion-item>
      <ion-item *ngIf="chatsList.length === 0" class="no-chats-item">
        <ion-label class="ion-text-center">
          No Chats
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-template #noChats>
      <ion-item class="no-chats-item">
        <ion-label class="ion-text-center">
          No Chats
        </ion-label>
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>