/* Trainer-specific styles (if any) */

/* All shared styles moved to chat-shared.scss */
.chat-messages {
  margin-top: 20px;
  width: 100%;
}

.trainer-message {
  background-color: #d1e7dd;
  align-self: flex-end;
}

.client-message {
  background-color: #f8d7da;
  align-self: flex-start;
}

/* Responsive styles for different screen sizes */
@media (min-width: 768px) {
  ion-list {
    width: 95%;
  }
}

@media (min-width: 992px) {
  ion-list {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  ion-list {
    width: 85%;
  }
}

/* Improve item styling */
ion-item {
  --padding-start: calc(16px + 1vw);
  --padding-end: calc(16px + 1vw);
  --inner-padding-end: calc(12px + 0.5vw);
  margin-bottom: 12px;
  border-radius: 10px;
  --min-height: calc(90px + 2vw);
  
  /* Specific styles for mobile devices */
  @media (max-width: 480px) {
    --min-height: 90px;
    margin-bottom: 10px;
  }

  
  ion-label {
    width: 60%;
    max-width: 60%;
    padding-right: 10px;
    h2 {
      font-weight: 600;
      margin-bottom: calc(4px + 0.2vw);
      font-size: calc(15px + 0.3vw);
      
      /* Specific styles for mobile devices */
      @media (max-width: 480px) {
        font-size: 15px;
        margin-bottom: 6px;
      }
    }
    
    p {
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      font-size: calc(13px + 0.2vw);
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      
      /* Specific styles for mobile devices */
      @media (max-width: 480px) {
        font-size: 13px;
      }
    }
  }
  
  ion-note {
    font-size: calc(12px + 0.2vw);
    align-self: center;
    margin: 0;
    padding-left: 15px;
    position: absolute;
    right: calc(16px + 1vw);
    top: 50%;
    transform: translateY(-50%);
    min-width: 80px;
    text-align: right;
    z-index: 1;
    
    /* Specific styles for mobile devices */
    @media (max-width: 480px) {
      font-size: 16px;
      right: 16px;
    }
  }
}

.no-chats-item {
  margin-top: 20px;
  --background: transparent;
}
