.chat-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  padding-bottom: 16px;
  min-height: 100%;
}

ion-title {
  font-size: calc(1.5rem + 0.5vw);
}

.chat-bubble {
  max-width: 70%;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0px 0 8px 0;
  border-radius: 20px;
  position: relative;
  word-wrap: break-word;
}

.sender-message {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.receiver-message {
  align-self: flex-start;
  background-color: #f1f1f1;
  color: black;
}

.selectable-text {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

/* Styles for the textarea to wrap text */
ion-footer ion-item {
  --min-height: auto;
  --inner-padding-end: 0;
  --padding-start: 0;
  --background: transparent;
  --border-color: transparent;
}

.chat-textarea {
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 10px;
  --padding-end: 10px;
  --background: #f5f5f5;
  --border-radius: 18px;
  --placeholder-color: #999;
  margin: 5px 0;
  min-height: 40px;
  max-height: 120px;
  border-radius: 18px;
  background: #f5f5f5;
}
