<ion-header>
  <ion-toolbar>
    <ion-title>{{agreementName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div>
    <h1>Name Your Agreement</h1>
    <ion-input type="text" placeholder="Enter agreement name" [(ngModel)]="agreementName"></ion-input>
  </div>

  <app-service-agreement 
    [templateId]="templateId"
    (onSave)="onSave()"
    [agreementName]="agreementName">
  </app-service-agreement>
</ion-content>  