.modal-header {
  --background: var(--ion-color-primary);
  --color: white;
}

.modal-content {
  --background: #f8f9fa;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 16px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.password-field {
  margin-bottom: 16px;
}

.custom-item {
  --background: white;
  --border-radius: 8px;
  --border-color: #ddd;
  --border-width: 1px;
  --border-style: solid;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.custom-input {
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  --label-margin-bottom: 16px; /* Add more space between label and input */
  font-size: 16px; /* Larger text for input */
}


.password-toggle {
  font-size: 1.2rem;
  margin-right: 8px;
  color: var(--ion-color-medium);
  cursor: pointer;
}

.submit-button {
  margin-top: 16px;
  --border-radius: 8px;
  font-weight: 600;
  height: 48px;
  --box-shadow: 0 4px 8px rgba(var(--ion-color-primary-rgb), 0.3);
}

ion-text {
  font-size: 0.8rem;
}

// Make the modal centered and with rounded corners
:host {
  --width: 90%;
  --max-width: 400px;
  --height: auto;
  --border-radius: 16px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

