ion-datetime {
  margin: auto;
}

.trainings-container {
  padding: 16px;
  
  ion-card-title {
    font-size: 1.2rem;
    font-weight: 500;
  }

  ion-item {
    --padding-start: 0;
    
    h2 {
      font-weight: bold;
      margin-bottom: 4px;
    }

    h3 {
      color: var(--ion-color-primary);
      margin-bottom: 4px;
    }

    p {
      color: var(--ion-color-medium);
    }
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  
  p {
    margin-top: 16px;
    color: var(--ion-color-medium);
  }
}