<ion-content class="lb-content">
  <app-leaderboard-shell
    [title]="groupName + ' Leaderboard'"
    [graphLabel]="groupName"
    [loading]="loading"
    [errorMsg]="errorMsg"
    [metric]="metric"
    [showScopeSelect]="false"
    [chartMode]="chartMode"
    [availableChartModes]="availableChartModes"
    [entries]="entries"
    [trendSeries]="trendSeries"
    [distributionCurvePath]="distributionCurvePath"
    [distributionPoints]="distributionPoints"
    [medianMarkerXPercent]="distributionMedianXPercent"
    [medianMarkerLabel]="distributionMedianLabel"
    [selectedPointBin]="selectedPointBin"
    [highlightedUserIds]="selectedPointUserIds"
    [showActionButton]="showSettingsButton"
    [actionIconName]="'settings-outline'"
    [actionAriaLabel]="'Open group settings'"
    (back)="goBack()"
    (actionClick)="openGroupSettings()"
    (metricChange)="onMetricChanged($event)"
    (chartModeChange)="onChartModeChanged($event)"
    (distributionPointClick)="onDistributionPointClick($event)"
    (memberClick)="onMemberClick($event)"
  ></app-leaderboard-shell>
</ion-content>
