<app-header
  [transparent]="true"
  [neoBlend]="true"
  [showBack]="true"
  backHref="/groups"
  [title]="groupName + ' Leaderboard'"
  [showEndActionButton]="showSettingsButton"
  [endActionIconName]="'settings-outline'"
  [endActionAriaLabel]="'Open group settings'"
  (endAction)="openGroupSettings()"
></app-header>

<ion-content [fullscreen]="true" class="lb-content">
  <div class="background-gradient"></div>
  <div class="lb-container">
    <app-leaderboard-shell
      [showTopbar]="false"
      [title]="groupName + ' Leaderboard'"
      [graphLabel]="groupName"
      [loading]="loading"
      [errorMsg]="errorMsg"
      [metric]="metric"
      [showScopeSelect]="false"
      [chartMode]="chartMode"
      [availableChartModes]="availableChartModes"
      [entries]="entries"
      [trendSeries]="trendSeries"
      [distributionCurvePath]="distributionCurvePath"
      [distributionPoints]="distributionPoints"
      [medianMarkerXPercent]="distributionMedianXPercent"
      [medianMarkerLabel]="distributionMedianLabel"
      [selectedPointBin]="selectedPointBin"
      [highlightedUserIds]="selectedPointUserIds"
      (metricChange)="onMetricChanged($event)"
      (chartModeChange)="onChartModeChanged($event)"
      (distributionPointClick)="onDistributionPointClick($event)"
      (memberClick)="onMemberClick($event)"
    ></app-leaderboard-shell>
  </div>
</ion-content>
