/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

// @import "@ionic/angular/css/palettes/dark.always.css"; 
// @import "@ionic/angular/css/palettes/dark.class.css"; 
// @import '@ionic/angular/css/palettes/dark.system.css';

/* Make chat messages selectable */
.selectable-text, .chat-bubble, .message-content, .chat-container p, .chat-message {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
  cursor: text;
}

/* Make links clickable in chat messages */
.selectable-text a, .chat-bubble a, .message-content a, .chat-container a {
  color: var(--ion-color-primary);
  text-decoration: underline;
  cursor: pointer;
}

/* Global PDF viewer styling */
iframe[src*=".pdf"] {
  width: 100%;
  height: 100%;
  /* iOS-specific fixes */
  -webkit-overflow-scrolling: touch;
}

.pdf-preview iframe {
  width: 100%;
  min-height: 500px;
}

/* Transparent header page styling */
.background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  min-height: 100vh;
  background-image: url('/assets/backgrounds/BlurryGradientLight.svg');
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: -1;
  pointer-events: none;
}

/* iOS-specific PDF viewer styling */
.pdf-container iframe, .pdf-preview iframe {
  -webkit-overflow-scrolling: touch;
}

/* Force PDF to scale on iOS */
@supports (-webkit-touch-callout: none) {
  iframe[src*=".pdf"] {
    width: 1px;
    min-width: 100%;
    *width: 100%;
  }
}

/* Set PDF to fit width by default */
@media (max-width: 768px) {
  iframe[src*=".pdf"] {
    width: 100% !important;
    height: 100% !important;
  }
}

/* Global input field settings */
ion-input, ion-textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

/* Make text selectable globally */
.chat-bubble, ion-label, ion-text, p, span, div.selectable-text {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}