<app-header
  [title]="'Log Workout'"
  [showBack]="true"
  [backHref]="'/profile-user'"
></app-header>

<ion-content [fullscreen]="true" class="logging-method-routes-content">
  <div class="background-gradient"></div>

  <div class="logging-method-routes-page">
    <section class="logging-method-section">
      <h2 class="logging-method-title">Log ALL workouts</h2>

      <ion-button
        expand="block"
        size="large"
        class="logging-method-button"
        (click)="goToWorkoutChatbot()"
      >
        Log with AI chatbot
      </ion-button>
    </section>

    <section class="logging-method-section">
      <h2 class="logging-method-title">Log Cardio Workouts</h2>

      <ion-button
        expand="block"
        size="large"
        class="logging-method-button"
      >
        Log with Treadmill
      </ion-button>
    </section>
  </div>
</ion-content>
